@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Patrick+Hand&display=swap");
.navbar {
    font-family: "Gloria Hallelujah", cursive;
    display: flex;
    align-items: center;
    padding: 4rem;
    background-image: url("../../assets/img/banner1.png");
    background-size: cover;
    background-position: bottom;
    gap: 5px;
    color: #000;
}
.link {
    background-color: azure;
    padding: 10px;
    text-decoration: none;
    transition: all 0.6s ease;
}

.link:hover {
    background: none;
    color: white;
}

